Output
Debug
Release
*.exe
*.ilk
Dolwin.opensdf
Data/*.mci
Dolwin.sdf
Dolwin.v12.suo
*.dll
*.exp
*.lib
*.iobj
*.ipdb

.vs
x64
*.aps
*.pdb

DolphinVideo

*.vcxproj.user
Data/EventLog.json
EventLog.json

htmldoc
html
Microsoft.DTfW.DHL.manifest
vld.ini
memory_leak_report.txt

*.VC.db
*.VC.opendb
*.ipch

# Cmake

CMakeFiles
Makefile
*.cmake
CMakeCache.txt
*.a
*.so

DolwinPlayground

/*.json

*PVS*
