Debug
Release
Dolwin.exe
Dolwin.ilk
Dolwin.opensdf
GCMCMPR.exe
GCMCMPR.ilk
Plugins/*.dll
Plugins/*.ilk
Data/*.mci
Data/*.mci
Dolwin.sdf
Dolwin.v12.suo
DolwinDebug_x86.exe
DolwinDebug_x86.ilk
DolwinDebug_x86.pdb
DolwinDebug_x64.exe
DolwinDebug_x64.ilk
DolwinDebug_x64.pdb
DolwinRelease_x86.exe
DolwinRelease_x86.ilk
DolwinRelease_x86.pdb
DolwinRelease_x64.exe
DolwinRelease_x64.ilk
DolwinRelease_x64.pdb

.vs
*.aps
*.pdb
